#contenedorTitulo{
 text-aling: center;
color: purple;   
    
}

.parrafoSecundario{
    font-size: 22px;
    color: navy;
    
}

.notaImportante{
    color: red;
}

h1, h2, h3{
    
    color: aqua
}

h1{font-size: 2.5em;}

h2{font-size: 25px;}

h3{font-size: 1em;}

p span {color:crimson}

div.Review button a {font-size: 16px;}

a {
    border: 2px solid navy;
    background-color: darkblue; 
    color: white;
    border-radius: 20px;
    padding: 5px;    
}

a:link {
    color: darkorange;
    font-size: 20px;
    
}

a:visited {
    color: red;
}

a:hover {
    background: green;
    color: white;
    
}

a:active{}

#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #496D8D;
    color: white;
}

#encabezado h1 {
    display: inline;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #9B8030;
    color: black;
}

#menu a:visited {
    color: navy;
}

#menu a:hover {
    background-color: green;
    color: white;
}

#barraLateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #8e27f6;
    color: black;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: #24a1df;
    color: black;
    overflow: auto;
}

#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: #87f29b;
    color: black;
    text-align: center;
}

#encabezadoTabla {
    font-size: 20px;
    color: white;
    background-color: cadetblue;
}

#tablaResumen tr {
    font-size: 25px;
}

#tablaResumen tr:nth-child(odd) {
    background-color: gold;
}

#tablaResumen tr:nth-child(even) {
    background-color: coral;
}
